                                    /* Styles EnRodage*/
.jumbotron h1{
    color: #195466;
}
.sidebar-nav .info {
  background-color: #195466;
  padding: 10px 0;
}
.sidebar-nav .info p {
  color:  #FBF9F7;
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 10px;
  padding: 0 40px;
}
                                    /*  fin  */
.row{
    margin-left:0px;
    margin-right:0px;
}
#wrapper {
    padding-left: 190px;                  /*larHaut du sidebar 190p*/
    transition: all .4s ease 0s;
    height: 100%
}
#sidebar-wrapper {
    margin-left: -190px;
    left: 190px;
    width: 190px;
    background: #222;
    position: fixed;
    overflow-y: auto;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 190px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
  line-height: 50px;                 /*Hauteur largeur*/
  text-indent: 20px;
}
.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}
.sidebar-nav li p {
  color: #222;
  line-height: 30px;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  border-left: #EF8508 5px solid;  
}

.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 50px;               /*100px bande noire sous nav-brand*/
  line-height: 50px;          /*Hauteur largeur du nav-brand*/
  font-size: 16px;
}

.sidebar-nav > .sidebar-brand a {
  color: white;
  background: #195466;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: #195466;
}
@media (min-width:767px) {
    #wrapper {
    padding-left: 190px;
    transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
     width: 190px;
    }
    #page-content-wrapper {
    padding: 20px;
    position: relative;
    }
}


#sidebar_menu li a, #sidebar li a {
		border-top: 1px solid #373737;
		border-bottom: 1px solid #1A1A1A;
}
.sidebar-bottom {                                     /* facebook Twitter Github  */
    position: absolute;
    bottom: 0;
}
.content-header {
  height: 65px;
  line-height: 65px;
}
.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

