.package-card-inner {padding-top:10px;padding-bottom:50px;}

.package-card-inner {-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);-moz-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);}

