.package-card {padding-top:10px;padding-bottom:20px;}
.package-card-title {display:block;font-weight:700;color:#555;font-size:20px;padding:10px;overflow:hidden;text-overflow:ellipsis;}
.package-card-title a {color:#555;}
.package-card-stats, .package-card-tags {width:100%;border-top:#eee 1px solid;padding:10px 10px;font-size:13px;}
.package-card-tags a {display:inline;font-size:11px;margin-right:1%;opacity:.95;filter:alpha(opacity=95);}
.package-card-stats {color:#777;}
.package-card-description {display:block;line-height:14px;color:#888;font-size:12px;font-family: Ubuntu, sans-serif;font-weight:300;}
.package-card-stat-block {height:20px;line-height:20px;float:left;width:50%;}
.package-card-stat-block img {vertical-align:top;margin-right:5px;}
.package-card-stat-block a {color:#555;text-decoration:none;}
.package-card-by {border:0;padding-top:0;}
.content-box, .package-card-inner {-webkit-box-shadow:0 5px 10px rgba(0,0,0,.15);-moz-box-shadow:0 5px 10px rgba(0,0,0,.15);box-shadow:0 5px 10px rgba(0,0,0,.15);background-color:#fff;}
.package-card-inner:hover {-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);-moz-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);cursor:pointer;}
.package-card-inner .fa {font-size:14px;margin-right:5px;}
.package-card-inner:hover .fa, .package-card-inner:hover .package-card-title, .package-card-title a:hover {color:#e95353;text-decoration:none;}


